<div class="p-4  ml-64 w-full h-screen">
  <div class="p-4 border-2 border-black border-dashed rounded-lg dark:border-gray-700 h-screen">
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800 border border-black border-dashed">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
          Earnings
        </p>
      </div>
      <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800 border border-black border-dashed">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
          Spendings
        </p>
      </div>
      <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800 border border-black border-dashed">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
          Savings
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800 border border-black border-dashed">
      <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
      </p>
    </div>
    <div class="flex items-center justify-center mb-4 p-2 rounded-sm bg-gray-50 dark:bg-gray-800 border border-black border-dashed">
      <%= render 'home/table_show' %>
    </div>
  </div>
</div>
